
    <section class='text-center' id='home'>
        <div class='centered'>
          <% if session[:mobile_param] %>
            <%= image_tag('/assets/5/5.4.jpg', class: 'fs faded') %>
          <% else %>
            <%= image_tag('/assets/AUXILIARES/KEYSHOT.32.jpg', class: 'fs faded') %>
          <% end %>
        </div>
        <div class='centered'>
          <h1>
            Glas.
          </h1>
          <p>
            Mueblería Mexicana
          </p>
        </div>
    </section>


    <!-- Nav bar -->
    <%= render 'shared/nav' %>


    <!-- about -->
    <%= render 'about' %>
   

<!-- Photo Grid -->
<!--<section class='dark trans' id='test'>
      <div class="row"> 
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>  
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>
      </div>
    </section> -->



    <!-- TEST -->
    <section class="dark trans" id="portfolio">
      <ul class="grid cs-style-3"> 

        <li class="grid cs-style-4">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/LIBRERO/untitled.78.jpg" alt="img01" >
            <%end%> 
            <figcaption>
              <h3>Librero</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST",  controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/5/5.4.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>BANCA</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>MUEBLE DE TV</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>MUEBLE DE TV</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>
      </ul>

      <ul class="grid cs-style-3"> 
        <li class="grid cs-style-4">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/LIBRERO/untitled.78.jpg" alt="img01" >
            <%end%> 
            <figcaption>
              <h3>Librero</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST",  controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/5/5.4.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>BANCA</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>MUEBLE DE TV</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>MUEBLE DE TV</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>


    <!-- CONTACT -->
    
    <%= render 'contact' %>
