    
    <section class='text-center' id='home'>
        <div class='centered'>
          <% if mobile_device? %>
            <%= image_tag('/assets/23.0/23.2.jpg', class: 'fs faded') %>
          <% else %>
            <%= image_tag('/assets/AUXILIARES/MTV1.jpg', class: 'fs faded') %>
          <% end %>
        </div>

        <% if mobile_device? %>
          <div class='centered'>
            <h1>
              Glas.
            </h1>
            <p>
              Mueblería Mexicana
            </p>
          </div>
        <% else %>
        <div class='centered' id="exms">
          <h1>
            Glas.
          </h1>
          <p>
            Mueblería Mexicana
          </p>
        </div>
      <% end %>        
    </section>


    <!-- about -->
    <%= render 'about' %>
   

<!-- Photo Grid -->
<!--<section class='dark trans' id='test'>
      <div class="row"> 
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>  
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>
      </div>
    </section> -->


    <!-- TEST -->
    <section class="dark trans" id="portfolio">
      <ul class="grid cs-style-3">

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
            <% hidden_field_tag 'tags_list' %>
              <%= image_tag('/assets/5.0/5.1.jpg') %>
            <% end %>
            <figcaption>
              <h3>Banca Valeria</h3>
              <p>Precio $4,080</p>
              <%= link_to "Ir", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-4">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "2" do%>
              <img src="/assets/LIBRERO/lib1.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Librero Venegas</h3>
              <p>Precio $9,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "2" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "3" do%>
              <img src="/assets/7.0/7.1.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Mesa de centro Castro</h3>
              <p>Precio $5,150</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "3" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "4" do%>
              <img src="/assets/23.0/23.2.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Mesa de Centro Cortés</h3>
              <p>Precio $3,850</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "4" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "5" do%>
              <img src="/assets/24.0/24.2.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Mesa de centro Cielo</h3>
              <p>Precio $3,810</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "5" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "6" do%>
              <img src="/assets/AUXILIARES/MTV1.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Mueble de TV Verón</h3>
              <p>Precio $5,900</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "6" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "7" do%>
              <img src="/assets/25.0/25.2.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Escritorio Lorca</h3>
              <p>Precio $6,900</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "7" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "8" do%>
              <img src="/assets/27.0/27.1.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Escritorio Albert</h3>
              <p>Precio $9,100</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "8" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "9" do%>
              <img src="/assets/28.0/28.2.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Escritorio Helena</h3>
              <p>Precio $6,500</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "9" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "10" do%>
              <img src="/assets/1.0/1.1.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Escritorio Yoko</h3>
              <p>Precio $9,150</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "10" %>
            </figcaption>
          </figure>
        </li>


        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "11" do%>
              <img src="/assets/20.0/20.1.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Escritorio Barragán</h3>
              <p>Precio $7,500</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "11" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "12" do%>
              <img src="/assets/26.0/26.2.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Escritorio Marino</h3>
              <p>Precio $8,600</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "12" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "13" do%>
              <img src="/assets/9.0/9.3.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Mesa de centro María</h3>
              <p>Precio $3,980</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "13" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "14" do%>
              <img src="/assets/22.0/22.3.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Escritorio Leonardo</h3>
              <p>Precio $7,200</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "14" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "15" do%>
              <img src="/assets/21.0/21.1.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>Escritorio Krafft</h3>
              <p>Precio $6,900</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "15" %>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>


    <!-- CONTACT -->
    <%= render 'contact' %>
