
    <section class='text-center' id='home'>
      <!-- <img alt='Home' class='fs faded' src='/assets/1.1.jpg'> -->
      <%= image_tag('/assets/AUXILIARES/KEYSHOT.32.jpg', class: 'fs faded') %>
      <!-- <div class='centered'>
        <h1>
          Glas.
        </h1>
        <p>
          Mueblería Mexicana
        </p>
      </div> -->
    </section>


    <%= render 'shared/nav' %>

    <section class='text-center dark' id='about'>
      <div class='centered medium'>
        <h2>
          Acerca de Glas
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu justo sed nisl placerat fermentum. Suspendisse egestas libero non condimentum dictum. Quisque vulputate turpis id massa tempus, id porttitor nisi pellentesque. Mauris laoreet erat non neque venenatis mattis.
        </p>
      </div>
    </section>

<!-- 
    <section class='dark trans' id='portfolio'>
      <div class='row text-center'>
        <div class='col-md-12 block'>
          <h2>
            Portfolio
          </h2>
          <p>
            Lorem ipsum dolor.
          </p>
        </div>
        <div class='col-md-4'>
          <a class='item' data-height='700' data-type='vimeo' data-video='21604065' data-width='1000' href='#'>
            <img alt='' src='http://placehold.it/400x300'>
            <div class='caption'>
              <div class='centered'>
                <h3>
                  Vimeo video example
                </h3>
                <p>
                  This is a short description.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class='col-md-4'>
          <a class='item' data-height='700' data-type='youtube' data-video='vSkb0kDacjs' data-width='1000' href='#'>
            <img alt='' src='http://placehold.it/400x300'>
            <div class='caption'>
              <div class='centered'>
                <h3>
                  YouTube video example
                </h3>
                <p>
                  This is a short description.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class='col-md-4'>
          <a class='item' href='http://placehold.it/1200x800'>
            <img alt='' src='http://placehold.it/400x300'>
            <div class='caption'>
              <div class='centered'>
                <h3>
                  Urban style
                </h3>
                <p>
                  This is a short description.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class='col-md-4'>
          <a class='item' href='http://placehold.it/1200x800'>
            <img alt='' src='http://placehold.it/400x300'>
            <div class='caption'>
              <div class='centered'>
                <h3>
                  Great view
                </h3>
                <p>
                  This is a short description.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class='col-md-4'>
          <a class='item' href='http://placehold.it/1200x800'>
            <img alt='' src='http://placehold.it/400x300'>
            <div class='caption'>
              <div class='centered'>
                <h3>
                  One man mountain
                </h3>
                <p>
                  This is a short description.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class='col-md-4'>
          <a class='item' href='http://placehold.it/1200x800'>
            <img alt='' src='http://placehold.it/400x300'>
            <div class='caption'>
              <div class='centered'>
                <h3>
                  The height
                </h3>
                <p>
                  This is a short description.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class='col-md-4'>
          <a class='item' href='http://placehold.it/1200x800'>
            <img alt='' src='http://placehold.it/400x300'>
            <div class='caption'>
              <div class='centered'>
                <h3>
                  Farmer fields
                </h3>
                <p>
                  This is a short description.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class='col-md-4'>
          <a class='item' href='http://placehold.it/1200x800'>
            <img alt='' src='http://placehold.it/400x300'>
            <div class='caption'>
              <div class='centered'>
                <h3>
                  Urban style
                </h3>
                <p>
                  This is a short description.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section> -->

<!-- Photo Grid -->
<!--     <section class='dark trans' id='test'>
      <div class="row"> 
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>  
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>
      </div>
    </section> -->

    <!-- TEST -->
    <section class="dark trans" id="portfolio">
      <ul class="grid cs-style-3">

        <li class="grid cs-style-4">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/LIBRERO/untitled.78.jpg" alt="img01" >
            <%end%> 
            <figcaption>
              <h3>Librero</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST",  controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/5/5.4.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>BANCA</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>MUEBLE DE TV</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>
      </section>


    <!-- CONTACT -->
    
    <%= render 'contact' %>
