
    <section class='text-center' id='home'>
      <!-- <img alt='Home' class='fs faded' src='/assets/1.1.jpg'> -->
      <%= image_tag('/assets/AUXILIARES/KEYSHOT.32.jpg', class: 'fs faded') %>
      <!-- <div class='centered'>
        <h1>
          Glas.
        </h1>
        <p>
          Mueblería Mexicana
        </p>
      </div> -->
    </section>


    <%= render 'shared/nav' %>

    <section class='text-center dark' id='about'>
      <div class='centered medium'>
        <h2>
          Acerca de Glas
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu justo sed nisl placerat fermentum. Suspendisse egestas libero non condimentum dictum. Quisque vulputate turpis id massa tempus, id porttitor nisi pellentesque. Mauris laoreet erat non neque venenatis mattis.
        </p>
      </div>
    </section>

<!-- Photo Grid -->
<!--<section class='dark trans' id='test'>
      <div class="row"> 
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>  
        <div class="column">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
          <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" style="width:100%">
        </div>
      </div>
    </section> -->



    <!-- TEST -->
    <section class="dark trans" id="portfolio">
      <ul class="grid cs-style-3"> 

        <li class="grid cs-style-4">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/LIBRERO/untitled.78.jpg" alt="img01" >
            <%end%> 
            <figcaption>
              <h3>Librero</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST",  controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/5/5.4.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>BANCA</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>MUEBLE DE TV</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>MUEBLE DE TV</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>
      </ul>

      <ul class="grid cs-style-3"> 
        <li class="grid cs-style-4">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/LIBRERO/untitled.78.jpg" alt="img01" >
            <%end%> 
            <figcaption>
              <h3>Librero</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST",  controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/5/5.4.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>BANCA</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>MUEBLE DE TV</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>

        <li class="grid cs-style-3">
          <figure>
            <%= link_to controller: "pages", action: "portfolio", id: "1" do%>
              <img src="/assets/AUXILIARES/KEYSHOT.32.jpg" alt="img01">
            <% end %>
            <figcaption>
              <h3>MUEBLE DE TV</h3>
              <p>Precio $5,000</p>
              <%= link_to "TEST", controller: "pages", action: "portfolio", id: "1" %>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>


    <!-- CONTACT -->
    
    <%= render 'contact' %>
