<!DOCTYPE html>
<html>
  <head>
    <title>Glas Muebles</title>
    <%= csrf_meta_tags %>
    <meta content='Glas Muebles comapañía mexicana' name='Muebles'>
    <meta content='1 day' name='revisit-after'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="icon" href="assets/Logo/Logo_Glas.jpg">

    <!-- <link href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <link href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'> -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    
    <%= javascript_include_tag "functions.js" %> <!-- for some reason the navbar is loading only at the beggining in mobile but it does not load after so I had to call the JS again, also I had to include the equal symbol "=" or the tag does not work -->
    <%= render 'shared/nav' %>
  
  </body>
  
</html>


  